<div id="page-content">
  <div class="container">
    <div class="jumbotron" id="home-container">
      <h1 class="display-4">AlphaBlog</h1>
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Viverra mattis tortor sodales faucibus sed egestas pellentesque tincidunt. Egestas mi sapien amet tortor vulputate ipsum hendrerit vitae. Dui, ipsum odio sed dis at lobortis porta. Elit eros, nunc molestie massa turpis lectus pulvinar sed. Non cras nunc cras amet mattis aliquet donec.</p>
      <a class="btn btn-primary btn-lg" id="bth" href="#" role="button">Sign Up</a>
    </div>
  </div>
</div>
